* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  background-color: #c4c4c4;
}

#container {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  height: 124px;
  background-color: #430064;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 86px 23px 139px;
}

#menu ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

#menu li {
  padding: 0 21px;
}

#menu li a {
  color: white;
  text-decoration: none;
}

#menu li a:hover {
  text-decoration: underline;
}

#menu #login {
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
}

#banner {
  background-image: url(../images/banner-bg.png);
  background-size: cover;
  background-position: center center;
  height: 757px;
  padding-top: 233px;
}

#banner h1 {
  color: white;
  font-size: 96px;
  font-weight: 700;
  line-height: 112.5px;
  background-color: rgba(67, 0, 100, 50%);
  padding: 40px 266px 40px 69px;
}

#what-we-do {
  height: 855px;
  display: flex;
  padding: 162px 67px 71px 136px;
  background-color: #f3dcff;
}

#what-we-do .essay {
  margin-right: 101px;
}

#what-we-do .essay h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #8600c8;
  margin-bottom: 10px;
}

#what-we-do .essay h2 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  margin-bottom: 26px;
}

#what-we-do .essay p.summary {
  width: 632px;
  margin-left: auto;
  text-align: justify;
  margin-bottom: 30px;
}

#what-we-do .essay p.highlight {
  font-weight: 500;
  padding-left: 110px;
  margin-bottom: 20px;
}

#what-we-do .essay .more-about {
  display: block;
  text-align: center;
  margin-top: 100px;
}

#what-we-do .essay .more-about a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 197px;
  height: 52px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-weight: 500;
}

#what-we-do .thumbnail img {
  height: 622px;
}

#our-services {
  background-color: white;
  padding-top: 66px;
  padding-bottom: 120px;
}

#our-services h2 {
  text-align: center;
  font-size: 48px;
}

#our-services .range {
  display: flex;
  justify-content: space-evenly;
}

#our-services .range .space {
  width: 121px;
  height: 120px;
  background-color: #c4c4c4;
  margin: 127px auto 56px;
}

#our-services .range p {
  font-weight: 500;
}

#our-services .range .residential,
.commercial {
  width: 131px;
  text-align: center;
}

footer {
  background-color: #430064;
  color: white;
  padding: 47px 181px;
  font-weight: 500;
}

footer .address {
  width: 454px;
  height: 84px;
  margin-bottom: 98px;
}
